* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 1rem;
}

/************************** HEADER ********************/
/************************** HEADER ********************/

header {
  margin-bottom: 1rem;
  padding: 1rem;
  min-height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 3rem;
}

header > .logo {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

header > .logo > img:first-child {
  max-width: 70%;
}

header > .searchBar,
header > nav {
  display: none;
}

header > .searchBar > input[type="search"] {
  max-width: 10vw;
  padding: 8px;
  border-radius: 8px;
}

header > nav > ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style-type: none;
}

header > nav > ul > li > a {
  text-decoration: none;
  cursor: pointer;
  color: rgb(29, 27, 27);
}

header > nav > ul > li > a > span {
  font-size: 1.3rem;
}
header > nav > ul > li > .divisor-div {
  height: 1rem;
  border: 1px solid rgba(29, 27, 27, 0.3);
}

header > .customer {
  padding-left: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

header > .menu,
header > .customer > .cart {
  padding: 1rem 1rem;
  color: #4e60ff;
  background-color: #f3f4ff;
  border-radius: 16px;
}

header > .customer > .userImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

header > .customer > .userImg > img {
  padding: 0.2rem 0.2rem;
  max-width: 50px;
  max-height: 50px;
  border: 2px solid #edeef2;
  border-radius: 16px;
}

header > .menu {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

header > .menu > div {
  width: 1rem;
  border: 1px solid #83859c;
}

/************************** /HEADER ********************/
/************************** ASIDE => SETTINGS ********************/
aside {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  margin-bottom: 2rem;
}
aside > .selected-content {
  border: 1ps solid #4e60ff;
}

aside > .selected-content > .selected-icon {
  background-color: #4e60ff;
}

aside > .content-title,
main > .content-title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 28px;
}
aside > article {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  padding: 1rem;
  background-color: #f3f4ff;
  border-radius: 16px;
  cursor: pointer;
}

aside > article:first-of-type {
  border: 2px solid #4e60ff;
}

aside > article > i {
  padding: 10px;
  background-color: #edeef2;
  border-radius: 12px;
}
/************************** /ACCOUNT SETTINGS ********************/
/************************** MAIN => PERSONAL INFO ********************/

main,
main > article,
main > article > form,
main > article > form > label,
main > article > form > fieldset {
  display: flex;
  flex-direction: column;
}
main > h2 {
  margin-bottom: 1rem;
}
main > article {
  padding: 20px;
  background: #ffffff;
  border: 1px solid #edeef2;
  box-sizing: border-box;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

main > article > .user-intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main > article > .user-intro > .user-avatar > img {
  min-width: 5rem;
  border-radius: 12px;
  cursor: pointer;
}

main > article > .user-intro > button:first-of-type {
  padding: 10px 15px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #4e60ff;
  border: 1px solid #4e60ff;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
}

main > article > .user-intro > button:last-of-type {
  text-transform: capitalize;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}

main > article > form {
  gap: 1rem;
}
main > article > form > fieldset {
  min-width: 100%;
  border: 0;
}

main > article > form > fieldset > legend {
  margin-bottom: 1rem;
}

main > article > form > fieldset > label {
  min-width: 45%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
}

main > article > form > label > input {
  padding: 8px;
  font-family: "Nunito";
  font-style: normal;
  font-size: 14px;
  font-weight: 550;
  border: 1px solid #c7c8d2;
  box-sizing: border-box;
  border-radius: 8px;
}

main > article > .handler-btns {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main > article > .handler-btns > .underline {
  width: inherit;
  border: 0.5px solid rgba(192, 181, 181, 0.3);
}

main > article > .handler-btns > .logout-btn {
  margin-top: 1rem;
  padding: 10px 15px;
  font-family: "Nunito";
  font-weight: 700;
  font-size: 14px;
  color: #ff5c60;
  background: #ffffff;
  border: 1px solid #ff5c60;
  border-radius: 8px;
  cursor: pointer;
}

main > article > .handler-btns > .handle-changes {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 20px;
}

main > article > .handler-btns > .handle-changes > button:first-child {
  padding: 10px 5px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  line-height: 20px;
  color: #83859c;
  border-radius: 8px;
  cursor: pointer;
}

main > article > .handler-btns > .handle-changes > button:last-child {
  padding: 10px 5px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  background: #4e60ff;
  box-shadow: 0px 8px 20px rgba(78, 96, 255, 0.16);
  border-radius: 8px;
  cursor: pointer;
}

/************************** MEDIA ********************/
/************************** MEDIA ********************/
/************************** MEDIA ********************/

@media only screen and (min-width: 768px) {
  .container {
    padding: 0 5rem;
    flex-direction: row;
    justify-content: space-between;
  }
  header {
    padding: 0 5rem;
  }
  header > .searchBar,
  header > nav {
    display: flex;
  }
  header > .menu {
    display: none;
  }

  aside {
    width: 25%;
  }
  main {
    width: 70%;
  }
  main > article > .user-intro,
  main > article > form,
  main > article > form > fieldset {
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
  }
  main > article > .user-intro > * {
    max-width: 10vw;
    margin: 0rem 3rem 2rem 0;
  }

  main > article > form > *,
  main > article > form > fieldset > * {
    min-width: 45%;
    max-width: 49%;
  }

  main > article > .handler-btns {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  main > article > .handler-btns > .logout-btn {
    margin: 0;
    padding: 10px 15px;
  }
  main > article > .handler-btns > .handle-changes {
    min-width: 40%;
  }
  main > article > .handler-btns > .underline {
    display: none;
  }
}
