@import "./variables.scss";

* {
  @include root;
}

.major-header {
  @include row;
  @include animations-bounce;
  @media only screen and (max-width: 550px) {
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  margin-bottom: 1rem;
  padding: 1rem;
  min-height: 7rem;
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    cursor: pointer;

    img {
      &:first-child {
        max-width: 70%;
      }
    }
  }
  .searchBar {
    input[type="search"] {
      max-width: 10vw;
      padding: 8px;
      border-radius: 8px;
    }
  }
  .main-nav {
    @media only screen and (max-width: 850px) {
      display: none;
    }
    .main-list {
      display: flex;
      align-items: center;
      gap: 1rem;
      list-style-type: none;
      li {
        a {
          text-decoration: none;
          cursor: pointer;
          color: rgb(29, 27, 27);
          span {
            font-size: 1.3rem;
          }
        }
        .divisor-div {
          height: 1rem;
          border: 1px solid rgba(29, 27, 27, 0.3);
        }
      }
    }
  }
  .customer {
    padding-left: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    .cart {
      padding: 1rem 1rem;
      color: #4e60ff;
      background-color: #f3f4ff;
      border-radius: 16px;
    }
    .userImg {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        padding: 0.2rem 0.2rem;
        max-width: 50px;
        max-height: 50px;
        border: 2px solid #edeef2;
        border-radius: 16px;
      }
    }
  }
  .menu {
    @extend .cart;
    @include column;
    gap: 3px;
    div {
      width: 1rem;
      border: 1px solid #83859c;
    }
  }
}
