.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

@media only screen and (max-width: 800px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
  }
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  padding: 2rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-height: 100%;
}

.login .logo {
  min-width: 20%;
  max-width: 40%;
}

.login .logo .first-logo {
  width: 70%;
  height: auto;
}

.login .logo .second-logo {
  width: 70%;
  height: auto;
}

.login .login-title > h1 {
  margin-bottom: 1rem;
  font-family: "Nunito";
  font-style: normal;
  font-size: 5rem;
  font-weight: 1000;
  line-height: 80px;
  color: #2b2b43;
}

.login .login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.login .login-form:focus-within label {
  color: #1c4ebb;
}

.login .login-form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 1.3rem;
  gap: 0.5rem;
  cursor: pointer;
}

.login .login-form label [type="email"] {
  min-height: 3rem;
  padding-left: 10px;
  border-radius: 8px;
  font-size: 1.5rem;
  border: 1px solid #c7c8d2;
}

.login .login-form label [type="password"] {
  min-height: 3rem;
  padding-left: 10px;
  border-radius: 8px;
  font-size: 1.5rem;
  border: 1px solid #c7c8d2;
}

.login .login-form label:last-of-type {
  position: relative;
}

.login .login-form label:last-of-type input {
  display: inline-block;
}

.login .login-form label:last-of-type .fas {
  position: absolute;
  right: 10px;
  bottom: 15px;
  cursor: pointer;
}

.login .login-form .keepAlive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.login .login-form .signInBtn {
  padding: 12px 16px;
  background-color: #4e60ff;
  border-radius: 8px;
}

.login .login-form .forgotPass {
  text-align: center;
  list-style: none;
  text-decoration: none;
  color: #4e60ff;
  font-family: "Nunito";
  font-size: 1rem;
  font-weight: 700;
}

.aside-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  background-color: #697bff;
}

@media only screen and (max-width: 500px) {
  .aside-content {
    display: none;
  }
}

.aside-content .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  background-color: #fff;
  border-radius: 16px;
}

.aside-content .roll, .aside-content .rating {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 40%;
  min-height: 45%;
  max-height: 50%;
  padding: 20px;
  gap: 2rem;
}

.aside-content .roll .card-img, .aside-content .rating .card-img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.aside-content .roll .card-img img, .aside-content .rating .card-img img {
  width: 100%;
}

.aside-content .roll .card-details, .aside-content .rating .card-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.aside-content .nigiri {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  gap: 1rem;
  padding: 20px;
  max-width: 85%;
  max-height: 35%;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 800px) {
  .aside-content .nigiri {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
  }
}
/*# sourceMappingURL=login.css.map */