* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}

/************************************ MAIN ******************/
/************************************ MAIN ******************/
main,
form,
form > label,
.logo {
  display: flex;
  flex-direction: column;
}

main {
  min-width: inherit;
  min-height: 100vh;
  padding: 2rem 2rem;
  justify-content: space-between;
  gap: 3rem;
}
.logo {
  min-width: 20%;
  max-width: 40%;
}

.logo > img:first-child {
  width: 70%;
  height: auto;
}

.login-title > h1 {
  margin-bottom: 1rem;
  font-family: "Nunito";
  font-style: normal;
  font-size: 5rem;
  font-weight: 1000;
  line-height: 80px;
  color: #2b2b43;
}

form {
  min-height: fit-content;
  gap: 2rem;
}
form > label:last-of-type {
  position: relative;
}
form > label > i {
  position: absolute;
  top: 50%;
  right: 5%;
  cursor: pointer;
}

form > label > input {
  min-height: 3rem;
  padding-left: 10px;
  border-radius: 8px;
  font-size: 1.5rem;
  border: 1px solid #c7c8d2;
}

form > label:last-of-type > input {
  display: inline-block;
}

form > .keepAlive {
  display: flex;
  gap: 1rem;
}
form > button {
  padding: 12px 16px;
  background-color: #4e60ff;
  border-radius: 8px;
}

.signUpLink > a,
form > a {
  text-align: center;
  list-style: none;
  text-decoration: none;
  color: #4e60ff;
  font-family: "Nunito";
  font-size: 1rem;
  font-weight: 700;
}

.signUpLink {
  text-align: center;
}

/************************************ /MAIN ******************/
/************************************ ASIDE ******************/

aside {
  padding-top: 2rem;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: space-evenly;
  background-color: #697bff;
}
aside > section {
  background-color: #fff;
  border-radius: 16px;
  display: flex;
}

aside > .rating,
aside > .roll {
  flex-direction: column;
  max-width: 30%;
  min-height: 45%;
  padding: 20px;
  gap: 2rem;
}

aside > .nigiri,
aside > .rating > .intro,
aside > .rating > .quote,
aside > .roll > .card-details > .add-to-cart {
  display: flex;
  align-items: center;
  gap: 2rem;
}

aside button {
  max-width: fit-content;
  padding: 10px 15px;
  background-color: #697bff;
  border-radius: 10px;
  color: rgb(14, 14, 150);
  font-size: 1rem;
  font-weight: 550;
}
aside > .rating > .intro,
aside > .roll > .card-details > .add-to-cart {
  justify-content: space-between;
  align-items: center;
}

aside > .roll {
  padding: 20px;
  max-height: 50%;
}
aside > .roll > .card-img {
  align-self: center;
}
aside > .roll > .card-img > img {
  width: max-content;
}

aside > .rating > .quote > .quote-details,
aside > .roll > .card-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
aside > .nigiri {
  padding: 20px;
  position: absolute;
  bottom: 0;
  max-width: 85%;
  max-height: 35%;
  margin-bottom: 5rem;
}

aside > .nigiri > div > .add-to-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-end;
  gap: 0.5rem;
}

aside > .nigiri > .add-to-cart > .count {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
/************************************ MEDIA ******************/
/************************************ MEDIA ******************/

@media only screen and (min-width: 768px) {
  .container {
    padding: 0 5rem;
    flex-direction: row;
    justify-content: space-between;
  }

  main {
    max-width: 25%;
  }
  aside {
    max-width: 70%;
    background-color: #697bff;
  }
  aside > section {
    background-color: #fff;
    border-radius: 16px;
    display: flex;
  }
  s aside > .rating {
    flex-direction: column;
  }
}
